<%= form_with model: @post, local: true do |form| %>
<p>
  <%=form.label :title %>
  <%= form.trix_editor :title,  required: true, autofocus: true%>
</p>
  <p>
    <%=form.label :description %><br>
    <%= form.trix_editor :description,  required: true, autofocus: true%>
  </p>
  <p>
    <%=form.label :tag_list %><br>
    <%= form.text_area :tag_list%>
  </p>
  <p>
  <%= select_tag(:genre_id, options_for_select(@genre), :prompt => "Select one!") %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>




