
<div class="album py-5 bg-#efe5de">
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <style>
          .col-md-4{ margin-bottom: 15px;}
        </style>
        <div class="col-md-4 ">
          <div class="card  shadow-sm">
              <%= image_tag post.place.url(:placeholder), class:'image-show' if post.place?%>
            </svg>
            <div class="card-body">
              <p class="card-text"><%= post.title.html_safe %></p>
              <p class="card-text"><%= post.description.html_safe %></p>
              <p class="card-text"><%= render 'genres/show' %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'View', post_path(post) %></button>
                  <% if current_user &&(current_user.id == post.user_id) %>
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit', edit_post_path(post) %></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Destroy', post_path(post.id), method: :delete, data: {confirm: 'Are you sure?'} %></button>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--        </div>-->
      <% end %>
    </div>
  </div>
</div>
<%#= will_paginate @post, renderer: BootstrapPagination::Rails %>