
<p>
  <strong><div align="center"><h1><%= @post.title.html_safe %></h1></div></strong>
</p>

<a><strong>Description:</strong></a>
<%= @post.description.html_safe%>
<a><strong>Genre:</strong></a>
<%= @post.genre.name%>

<br>
<%= render 'chapters/chapter' %>
<%= render 'chapters/form' %>
<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
 <button class="btn btn-danger" type="submit"><%= link_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>Unlike</button>
<% else %>
 <button class="btn btn-success" type="button"><%= link_to 'Like', post_likes_path(@post), method: :post %></button>
<% end %>
<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<h5>Comments:</h5>
<div id="comments">
<%= render @post.comments %>
</div>
<%= render 'comments/form' %>
<br>
<% if current_user &&(current_user.id == @post.user_id) %>
<span><%=link_to 'Edit', edit_post_path(@post) %></span>
<td> <%= link_to 'Destroy', post_path(@post), method: :delete, data: {confirm:'Are you sure?'}%></td>
  <%else %>
<span><%= link_to 'Back', posts_path %></span>
<%end %>
