<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

  <head>
    <title> Funfick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>
  <header >
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" style="color:white" > Funfic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <%if user_signed_in? %>
          <div class="dropdown">
            <button class="dropbtn"><%= current_user.username %></button>
            <div class="dropdown-content">
              <%=button_to "Profile", user_path, :method => 'get'%>
              <%=button_to "My post", user_posts_index_path, :method => 'get' %>
              <%=button_to "Log out", destroy_user_session_path, method: :delete%>
            </div>
          </div>
          <li class="nav-item active" >
            <button class="btn btn-outline my-2 my-sm-0"   ><%=button_to "New post",new_post_path,:method => "get"  %></button>
          </li>
        <%else %>
          <li class="nav-item active">

            <button class="btn btn-outline my-2 my-sm-0" type="button"  ><%=button_to "Sign up",new_user_registration_path,:method => "get" %></button>
          </li>
          <li class="nav-item active">
            <button class="btn btn-outline my-2 my-sm-0" type="button"  ><%=button_to "Sign in",new_user_session_path,:method => "get" %></button>
          </li>
        <%end %>
        <li class="nav-item active">
          <button class="btn btn-outline my-2 my-sm-0" type="button"  ><%=button_to "Funfics",posts_path, :method => "get" %></button>
        </li>

      </ul>

      <%= render partial: 'search/form' %>

    </div>
  </nav>
  </header>
  <body>
  <div class="container">
    <%= yield %>
  </div>

  </body>



</html>