<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title> Funfick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>
  <header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" style="color:white" > Funfic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <%if user_signed_in? %>
          <div class="dropdown">
            <button class="dropbtn"><%= current_user.username %></button>
            <div class="dropdown-content">
              <%=link_to "Profile", user_path%>
              <%=link_to "My post", user_posts_index_path %>
              <%=link_to "Log out", destroy_user_session_path, method: :delete %>
            </div>
          </div>
          <li class="nav-item active">
            <button class="btn btn-outline my-2 my-sm-0" type="button"  ><%=link_to "New post",new_post_path,{:style=>'color:#FFFFFF;', :class => "css_class"} %></button>
          </li>
        <%else %>
          <li class="nav-item active">

            <button class="btn btn-outline my-2 my-sm-0" type="button"  ><%=link_to "Sign up",new_user_registration_path,{:style=>'color:#FFFFFF;', :class => "css_class"} %></button>
          </li>
          <li class="nav-item active">
            <button class="btn btn-outline my-2 my-sm-0" type="button"  ><%=link_to "Sign in",new_user_session_path,{:style=>'color:#FFFFFF;', :class => "css_class"} %></button>
          </li>
        <%end %>
        <li class="nav-item active">
          <button class="btn btn-outline my-2 my-sm-0" type="button"  ><%=link_to "Funfics",posts_path,{:style=>'color:#FFFFFF;', :class => "css_class"} %></button>
        </li>

      </ul>

      <%= render partial: 'search/form' %>

    </div>
  </nav>
  </header>
  <body>

  </body>
  <div class="container">
    <%= yield %>
  </div>



</html>